.header {
  max-width: 100%;
  position: relative;
}
.header_background {
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 0;
  display: inline-block;
}
.header_container {
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 2;
  color: white;
}
.header_title {
  font-size: 3rem;
  text-align: center;
}
.header_job {
  font-size: 1.5rem;
  text-align: center;
}
@media(max-width: 650px) and (min-width: 600px) {
  .header_title {
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  .header_title {
    font-size: 1.5rem !important;
  }
  .header_job {
    font-size: 1rem !important;
  }
}
@media (max-width: 992px) {
  .header_job {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .header_title {
    font-size: 3rem !important;
  }
}
