.contact {
  margin: 5rem 0 1rem;
}
.contact_heading {
  text-align: center;
  padding-bottom: 4rem;
  text-transform: uppercase;
  font-size: 3rem;
  background: -webkit-linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  background: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-form_control {
  display: block;
  padding: 0.7rem 1.5rem;
  margin-bottom: 2rem;
  width: 90%;
  border: 0.1rem solid;
  border-radius: 1rem;
  outline: none;
}
.contact-form-control_message {
  height: 6rem;
}
.contact-form_submit {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  color: white;
  display: inline-block;
  width: 50%;
  padding: 0.6rem;
  border-radius: 1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  border: none;
  margin-bottom: 2rem;
}
.pesonal_contact {
  font-size: 1.3rem;
  color: #223364;
}
.pesonal-contact_email {
  padding: 0 0 2rem;
}
.pesonal-contact_icon {
  margin-right: 1rem;
}

@media (max-width: 600px) {
  .contact-form_submit {
    font-size: 0.9rem;
  }
  .pesonal_contact{
    font-size: 1rem;
  }

  .pesonal_contact li {
    font-size: 1.4rem;
    width: 2rem;
  }
}
